<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      nav {
        padding: 10px;
        background-color: green;
        color: white;
      }
      nav ul {
        list-style-type: none;
        cursor: pointer;
      }
      button{
        background-color: green;
        color: white;
        outline: none;
        border: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <form action="/contact/form" method="post">
            <button type="submit">Contact Us</button>
        </form>
      </ul>
    </nav>
    <h4>Welcome....</h4>
    <script>
      
    </script>
  </body>
</html>
